info:
  title: RPC
  version: 1.0.0
openapi: 3.1.0
paths:

  # Ethereum
  /eth_accounts/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_accounts~1{apiKey}
  /eth_blockNumber/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_blockNumber~1{apiKey}
  /eth_call/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_call~1{apiKey}
  /eth_chainId/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_chainId~1{apiKey}
  /eth_createAccessList/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_createAccessList~1{apiKey}
  /eth_estimateGas/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_estimateGas~1{apiKey}
  /eth_feeHistory/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_feeHistory~1{apiKey}
  /eth_gasPrice/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_gasPrice~1{apiKey}
  /eth_getBalance/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_getBalance~1{apiKey}
  /eth_getBlockByHash/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_getBlockByHash~1{apiKey}
  /eth_getBlockByNumber/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_getBlockByNumber~1{apiKey}
  /eth_getBlockReceipts/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_getBlockReceipts~1{apiKey}
  /eth_getBlockTransactionCountByHash/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_getBlockTransactionCountByHash~1{apiKey}
  /eth_getBlockTransactionCountByNumber/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_getBlockTransactionCountByNumber~1{apiKey}
  /eth_getCode/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_getCode~1{apiKey}
  /eth_getFilterChanges/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_getFilterChanges~1{apiKey}
  /eth_getFilterLogs/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_getFilterLogs~1{apiKey}
  /eth_getLogs/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_getLogs~1{apiKey}
  /eth_getProof/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_getProof~1{apiKey}
  /eth_getStorageAt/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_getStorageAt~1{apiKey}
  /eth_getTransactionByBlockHashAndIndex/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_getTransactionByBlockHashAndIndex~1{apiKey}
  /eth_getTransactionByBlockNumberAndIndex/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_getTransactionByBlockNumberAndIndex~1{apiKey}
  /eth_getTransactionByHash/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_getTransactionByHash~1{apiKey}
  /eth_getTransactionCount/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_getTransactionCount~1{apiKey}
  /eth_getTransactionReceipt/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_getTransactionReceipt~1{apiKey}
  /eth_getUncleByBlockHashAndIndex/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_getUncleByBlockHashAndIndex~1{apiKey}
  /eth_getUncleByBlockNumberAndIndex/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_getUncleByBlockNumberAndIndex~1{apiKey}
  /eth_getUncleCountByBlockHash/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_getUncleCountByBlockHash~1{apiKey}
  /eth_getUncleCountByBlockNumber/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_getUncleCountByBlockNumber~1{apiKey}
  /eth_maxPriorityFeePerGas/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_maxPriorityFeePerGas~1{apiKey}
  /eth_newBlockFilter/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_newBlockFilter~1{apiKey}
  /eth_newFilter/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_newFilter~1{apiKey}
  /eth_newPendingTransactionFilter/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_newPendingTransactionFilter~1{apiKey}
  /eth_protocolVersion/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_protocolVersion~1{apiKey}
  /eth_sendPrivateTransaction/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_sendPrivateTransaction~1{apiKey}
  /eth_sendRawTransaction/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_sendRawTransaction~1{apiKey}
  /eth_uninstallFilter/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1eth_uninstallFilter~1{apiKey}
  /net_listening/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1net_listening~1{apiKey}
  /net_version/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1net_version~1{apiKey}
  /web3_clientVersion/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1web3_clientVersion~1{apiKey}
  /web3_sha/{apiKey}:
    $ref: rpc/operations/ethereum/ethereum.yml#/paths/~1web3_sha~1{apiKey}


    '# algorand': Start of chain
  /genesis:
    $ref: rpc/operations/algorand/algorand.yml#/paths/~1genesis
  /health:
    $ref: rpc/operations/algorand/algorand.yml#/paths/~1health
  /metrics:
    $ref: rpc/operations/algorand/algorand.yml#/paths/~1metrics

servers:
  - url: https://api.tatum.io/v3/blockchain/node/ethereum-mainnet
